# Statistics Assignments 4

Problem Statement 1:

    Is gender independent of education level? A random sample of 395 people were
    surveyed and each person was asked to report the highest education level they obtained.
    The data that resulted from the survey is summarized in the following table:
    
                HighSchool Bachelors Masters  Ph.d. Total
        Female     60       54        46       41    201
        Male       40       44        53       57    194
        Total     100       98        99       98    395

Question: 
    Are gender and education level dependent at 5% level of significance? In other words, 
    given the data collected above, is there a relationship between the
    gender of an individual and the level of education that they have obtained?

We use chi-square test for independence with the help of the above data.

    Null Hypothesis H0 : Gender of an indiviual and level of education are independent.
    Alternative Hypothesis H1 : Gender of an indiviual and level of education are dependent.

In [ ]:
import scipy.stats as st
import numpy as np
import pandas as pd

In [8]:
import scipy.stats as st
import numpy as np
import pandas as pd
alpha=0.05
chi2,p,dof,expected=st.chi2_contingency([[60,54,46,41],[40,44,53,57]])
df=pd.DataFrame(np.array([[60,54,46,41],expected[0],[40,44,53,57],expected[1]]),
                columns=['High School','Bachelors','Masters','Ph.d'],index=['Female','Exp_Female','Male','Exp_male'])
if p<alpha:
    print("Null Hypothesis is rejected")
    print("Gender of an indiviual and level of education are dependent.")
else:
    print("Null Hypothesis is accepted")
    print("Gender of an indiviual and level of education are independent.")

Null Hypothesis is rejected
Gender of an indiviual and level of education are dependent.

In [9]:
df

            High School  Bachelors    Masters       Ph.d
Female        60.000000  54.000000  46.000000  41.000000
Exp_Female    50.886076  49.868354  50.377215  49.868354
Male          40.000000  44.000000  53.000000  57.000000
Exp_male      49.113924  48.131646  48.622785  48.131646

Problem Statement 2:

    Using the following data, perform a oneway analysis of variance using Î±=.05. Write
    up the results in APA format.

        [Group1: 51, 45, 33, 45, 67]
        [Group2: 23, 43, 23, 43, 45]
        [Group3: 56, 76, 74, 87, 56]

    H0: Mean is equal in all the groups. Mean1=Mean2=Mean3
    H1: Mean differes in all the groups. Mean1!=Mean2!=Mean3

In [28]:
alpha=0.05
group1=[51, 45, 33, 45, 67]
group2=[23, 43, 23, 43, 45]
group3=[56, 76, 74, 87, 56]

f_value ,p_value = st.f_oneway(group1, group2, group3)
print("f_value = ",f_value)
print("p_value = ",p_value)

f value =  9.747205503009463
p value =  0.0030597541434430556

In [38]:
p = 1-alpha
k=3
n = k*len(group1)
ssw = n-k #Sum of the squares within the samples
ssb = k-1 #Sum of the squares between the samples
critical_value=st.f.ppf(p, ssw, ssb)

if abs(f_value)>critical_value:
    print("Null Hypothesis is rejected")
else:
    print("Null Hypothesis is accepted")

if p_value<alpha:
    print("Hypothesis rejected as per p_value")
    print("Conclusion : Mean differes in all the groups. Mean1!=Mean2!=Mean3")
else:
    print("Hypothesis accepted as per p_value")
    print("Conclusion : Mean is equal in all the groups. Mean1=Mean2=Mean3")

Null Hypothesis is accepted
Hypothesis rejected as per p_value
Conclusion : Mean differes in all the groups. Mean1!=Mean2!=Mean3

Problem Statement 3:
    
    Calculate F Test for given 10, 20, 30, 40, 50 and 5,10,15, 20, 25.
    For 10, 20, 30, 40, 50:

In [37]:
data_1=[10,20,30,40,50]
data_2=[5,10,15,20,25]
f,p=st.f_oneway(data_1,data_2)
print("F-value :",f)
print("p-value :",p)

F-value : 3.6
p-value : 0.0943497728424377